<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Blog Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="blog-page.css">
</head>
<body>
    <main>
        <div class="blog-header" style="background-image: url('https://via.placeholder.com/1500x500');">
            <div class="blog-title">
                <h1>Blog Heading</h1>
                <div class="author-details">
                    <img src="https://via.placeholder.com/50" alt="Author">
                    <div class="author-info">
                        <h4>Author Name</h4>           
                        <!-- add date of blog -->
                        <p>15 Blogs</p>
                    </div>
                    <button class="follow-btn">Follow</button>
                </div>
            </div>
        </div>
        <div class="blog-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula libero eu nulla eleifend, a scelerisque nisl fermentum. Proin vel ligula a est dictum fermentum. Nulla facilisi. Ut tincidunt varius nunc, a vehicula nisl bibendum ut.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula libero eu nulla eleifend, a scelerisque nisl fermentum. Proin vel ligula a est dictum fermentum. Nulla facilisi. Ut tincidunt varius nunc, a vehicula nisl bibendum ut.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula libero eu nulla eleifend, a scelerisque nisl fermentum. Proin vel ligula a est dictum fermentum. Nulla facilisi. Ut tincidunt varius nunc, a vehicula nisl bibendum ut.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula libero eu nulla eleifend, a scelerisque nisl fermentum. Proin vel ligula a est dictum fermentum. Nulla facilisi. Ut tincidunt varius nunc, a vehicula nisl bibendum ut.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula libero eu nulla eleifend, a scelerisque nisl fermentum. Proin vel ligula a est dictum fermentum. Nulla facilisi. Ut tincidunt varius nunc, a vehicula nisl bibendum ut.</p>
        </div>
        <div class="blog-actions">
            <div class="likes-dislikes">
                <div class="like">
                    <i class="fa fa-thumbs-up"></i>
                    <p class="like-count">2.1k</p>
                </div>
                <div class="dislike">
                    <i class="fa fa-thumbs-down"></i>
                    <p class="dislike-count">769</p>
                </div>
            </div>
            <div class="blog-category">
                <p>Category: Travel</p>
            </div>
            <div class="social-sharing">
                <p>Share:</p>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-instagram"></i>
            </div>
        </div>
        <div class="comments-section">
            <h3>Comments</h3>
            <div class="comment">
                <img src="https://via.placeholder.com/40" alt="User">
                <div class="comment-content">
                    <h4>User Name</h4>
                    <p>This is a comment.</p>
                    <div class="comment-actions">
                        <div class="like">
                            <i class="fa fa-thumbs-up"></i>
                            <p class="like-count">20</p>
                        </div>
                        <div class="dislike">
                            <i class="fa fa-thumbs-down"></i>
                            <p class="dislike-count">5</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add more comments as needed -->
            <div class="comment">
                <img src="https://via.placeholder.com/40" alt="User">
                <div class="comment-content">
                    <h4>User Name</h4>
                    <p>This is a comment.</p>
                    <div class="comment-actions">
                        <div class="like">
                            <i class="fa fa-thumbs-up"></i>
                            <p class="like-count">10</p>
                        </div>
                        <div class="dislike">
                            <i class="fa fa-thumbs-down"></i>
                            <p class="dislike-count">2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <img src="https://via.placeholder.com/40" alt="User">
                <div class="comment-content">
                    <h4>User Name</h4>
                    <p>This is a comment.</p>
                    <div class="comment-actions">
                        <div class="like">
                            <i class="fa fa-thumbs-up"></i>
                            <p class="like-count">15</p>
                        </div>
                        <div class="dislike">
                            <i class="fa fa-thumbs-down"></i>
                            <p class="dislike-count">1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <img src="https://via.placeholder.com/40" alt="User">
                <div class="comment-content">
                    <h4>User Name</h4>
                    <p>This is a comment.</p>
                    <div class="comment-actions">
                        <div class="like">
                            <i class="fa fa-thumbs-up"></i>
                            <p class="like-count">25</p>
                        </div>
                        <div class="dislike">
                            <i class="fa fa-thumbs-down"></i>
                            <p class="dislike-count">0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <img src="https://via.placeholder.com/40" alt="User">
                <div class="comment-content">
                    <h4>User Name</h4>
                    <p>This is a comment.</p>
                    <div class="comment-actions">
                        <div class="like">
                            <i class="fa fa-thumbs-up"></i>
                            <p class="like-count">30</p>
                        </div>
                        <div class="dislike">
                            <i class="fa fa-thumbs-down"></i>
                            <p class="dislike-count">3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-blogs">
            <h3>More Blogs from the Same Category</h3>
            <div class="blog-card">
                <img src="https://via.placeholder.com/100" alt="Blog Image">
                <div class="blog-info">
                    <h4>Blog Title</h4>
                    <div class="blog-meta">
                        <img src="https://via.placeholder.com/30" alt="Author">
                        <p>Author Name</p>
                        <p> | </p>
                        <p>12 August, 2021</p>
                    </div>
                    <div class="blog-actions">
                        <div class="like">
                            <i class="fa fa-thumbs-up"></i>
                            <p class="like-count">2.1k</p>
                        </div>
                        <div class="dislike">
                            <i class="fa fa-thumbs-down"></i>
                            <p class="dislike-count">769</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-card">
                <img src="https://via.placeholder.com/100" alt="Blog Image">
                <div class="blog-info">
                    <h4>Blog Title</h4>
                    <div class="blog-meta">
                        <img src="https://via.placeholder.com/30" alt="Author">
                        <p>Author Name</p>
                        <p> | </p>
                        <p>12 August, 2021</p>
                    </div>
                    <div class="blog-actions">
                        <div class="like">
                            <i class="fa fa-thumbs-up"></i>
                            <p class="like-count">2.1k</p>
                        </div>
                        <div class="dislike">
                            <i class="fa fa-thumbs-down"></i>
                            <p class="dislike-count">769</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add more blog cards as needed -->
        </div>
        
    </main>
</body>
</html>
