<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="blog.css">
    <title>Blog</title>
</head>
<body>
    
    <div class="blog">
        <img src="https://via.placeholder.com/300x200" alt="Blog Image">
    
        <div class="blog-insights">
            <h4>Travel</h4>
            <div class="like">
                <i class="fa fa-thumbs-up"></i>
                <p class="like-count">2.1k</p>
            </div>
            <div class="dislike">
                <i class="fa fa-thumbs-down"></i>
                <p class="dislike-count">769</p>
            </div>
        </div>
        <div class="heading">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid ut sit iste voluptas pariatur! Consectetur officia quas nesciunt porro, animi, aspernatur quidem mollitia omnis laudantium laborum neque corporis dolores facere dolorum dolore commodi nulla quis.</p>
        </div>
        <div class="writer-detail">
            <div class="writer">
                <img src="https://i.pravatar.cc/100" alt="Writer Image">
                <h4>Hitesh Rai</h4>
            </div>
            <h4 class="date">12 August, 2021</h4>
        </div>
    </div>
</body>
</html>
