<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Change Password | Blogit</title>
</head>
<body>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2 class="company">Blogit</h2>
                <h2>Change Your Password</h2>
            </div>
            <div class="row clearfix">
                <form id="verifyCodeForm" autocomplete="off">
                    <div class="input_field"> 
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" name="newPassword" placeholder="Enter New Password" required />
                    </div>
                    <div class="input_field verification"> 
                        <span><i aria-hidden="true" class="fa fa-key"></i></span>
                        <input type="text" name="verificationCode" placeholder=" Enter Verification Code" required />
                    </div>
                    <p>Verification Code sent to your email, may take time to reflect.</p>
                    <input class="button" type="submit" value="Change Password" />
                </form>
            </div>
        </div>
    </div>
          
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>

        function showToast(message, type = "error") {
            Toastify({
                text: message,
                style: {
                    borderRadius: "10px",
                    color: "#fff",
                    padding: "15px 10px",
                    background: type === "success" ? "#28a745" : "#ff4141",
                },
                duration: 2000,
                gravity: "top",
                position: "right",
                stopOnFocus: true,
            }).showToast();
        }

        const verifyCodeForm = document.getElementById('verifyCodeForm');

        verifyCodeForm.addEventListener('submit', async function(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const data = {
                verificationCode: formData.get('verificationCode'),
                newPassword: formData.get('newPassword')
            };

            try {
                const response = await fetch('/user/reset-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    showToast('Password changed successfully. Login again to continue.', 'success');
                    try {
                        fetch('/user/logout', { method: 'POST' });
                        window.location.href = '/login';
                    }
                    catch (error) {
                        console.error(error);
                        showToast('There was an error logging you out. Please try again.');
                    }
                } else {
                    const errorData = await response.json();
                    console.error(errorData.errorMessage);
                    showToast(errorData.errorMessage);
                }
            } catch (error) {
                console.error(error);
                showToast('An unexpected error occurred');
            }
        });
    </script>
</body>
</html>
