<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/auth.css">
    <title>Sign In</title>
    
</head>
<body>
    <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2 class="company">Blogit</h2>
            <h2>Login to Your Account</h2>
          </div>
          <div class="row clearfix">
              <form id="loginForm" autocomplete="off">
                <div class="input_field login_username"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="username" placeholder="Username" />
                </div>
                <p class="or">OR</p>
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                  <input type="email" name="email" placeholder="Email" />
                </div>
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                  <input type="password" name="password" suggestion="off" placeholder="Password" required />
                </div>
                
                <!-- <div class="input_field checkbox_option">
                      <input type="checkbox" id="cb3">
                      <label for="cb3">Remember me</label>
                  </div> -->
                <input class="button" type="submit" value="Login" />
              </form>
              <h3>Don't have an account? <a onclick="window.location.href='/register'">Register</a></h3>
            </div>
          </div>
        
      </div>
      <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const data = {
                username: formData.get('username'),
                email: formData.get('email'),
                password: formData.get('password')
            };

            try {
        const response = await fetch('/user/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            const errorData = await response.json();
            alert(errorData.errorMessage || 'An unexpected error occurred');
        } else {
            const responseData = await response.json();
            console.log(responseData.data.user);
            window.location.href = '/';
        }
    } catch (error) {
        alert('An unexpected error occurred');
    }
        });
    </script>
</body>
</html>
