<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <title>Profile: krishna005_</title>
</head>
<body>
    
     <main>
        <div id="avatar">
            <img src="https://i.pravatar.cc/300" alt="avatar">
             <a class="change" id="changeAvatarLink" href="">Change Avatar</a> <!-- if self profile -->
             <input type="file" id="avatarFileInput" accept="image/*" style="display: none;">
        </div>
        <div id="details">
            <div class="name">
                <h1>krishna005_</h1>
                <a href="" class="follow">Follow</a>       <!-- if self profile, button -> Change Username -->
            </div>
            <div class="bio">
                <p>This is my bio.
                    Born in june
                    Master in full stack development
                    --- If you wish to have something, you will have it one dau for sure ---
                </p>
            </div>
            <div class="detail">
                <h3><span>794</span> Followers</h3>
                <h3><span>13</span> Following</h3>
                <h3><span>6</span> Blogs</h3>
            </div>
        </div>
     </main>
     <section>
        <h2>Blogs by krishna005_</h2>
        <div class="userBlogCategory">
            <h3>Category: </h3>
             <a href="#" class="active">All</a> <!-- remove this class and add it to active category which is activated -->
            <a href="#">Science</a>
            <a href="#">Food</a>
            <a href="#">Travell</a>
        </div>
        <div id="userBlogs">
            <!-- Blogs -->
             <h1>Blogs</h1>
        </div>
     </section>
     <!-- footer -->

    <script src="profile.js"></script>
</body>
</html>