<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="css/auth.css">
    <title>Sign Up | Blogit</title>
</head>
<body>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2 class="company">Blogit</h2>
                <h2>Register Yourself</h2>
            </div>
            <div class="row clearfix">
                <form id="registerForm" autocomplete="off">
                    <div class="input_field"> 
                        <span><i aria-hidden="true" class="fa fa-user"></i></span>
                        <input type="text" name="username"placeholder="Username" suggestion="off" autocomplete="off" required />
                    </div>
                    <div class="input_field"> 
                        <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input id="registrationEmailInput" type="email" name="email" placeholder="Email" suggestion="off" required />
                        <button id="sendOtpBtn">Send OTP</button>
                    </div>
                    <div id="otpField" class="input_field">
                        <span><i aria-hidden="true" class="fa fa-key"></i></span>
                        <input type="text" name="otp" placeholder="OTP" suggestion="off" autocomplete="off" required />
                    </div>
                    <div class="input_field"> 
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" name="password" placeholder="Password" suggestion="off" autocomplete="off" required id="passwordInput" />
                        <span class="toggle-password" onclick="togglePassword()">
                            <i class="fa-regular fa-eye" id="toggleIcon"></i>
                        </span>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb1" required>
                        <label for="cb1">I agree with <a class="terms" onclick="window.location.href='/terms-and-conditions'">Terms & Conditions</a></label>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb2">
                        <label for="cb2">I want to receive the newsletter</label>
                    </div>
                    <input id="registerButton" class="btn-disabled" type="submit" disabled="true" value="Register" />
                </form>
                <h3>Already have an account? <a href="/login">Login</a></h3>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        function togglePassword() {
            const input = document.getElementById("passwordInput");
            const icon = document.getElementById("toggleIcon");

            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
        function showToast(message, type = "error") {
            Toastify({
                text: message,
                style: {
                    borderRadius: "10px",
                    color: "#fff",
                    padding: "15px 10px",
                    background: type === "success" ? "#28a745" : "#ff4141",
                },
                duration: 2000,
                gravity: "top",
                position: "right",
                stopOnFocus: true,
            }).showToast();
        }

        document.getElementById('registrationEmailInput').addEventListener('input', function() {
            const email = this.value;
            const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            const isValid = emailRegex.test(email);
            document.getElementById('registerButton').disabled = !isValid;
            document.getElementById('sendOtpBtn').style.display = isValid ? 'inline-block' : 'none';
        })


        document.getElementById('sendOtpBtn').addEventListener('click', async function() {
            const email = document.getElementById('registrationEmailInput').value.trim();

            if (!email) {
                showToast('Please enter a valid email');
                return;
            }
            document.getElementById('registerButton').disabled = true;
            document.getElementById('sendOtpBtn').disabled = true;
            document.getElementById('sendOtpBtn').innerHTML = 'Sending...';

            const response = await fetch('/user/sendOtp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, type: 'register' })
            });
            if (!response.ok) {
                const errorData = await response.json();
                document.getElementById('sendOtpBtn').disabled = false;
                document.getElementById('sendOtpBtn').innerHTML = 'Send OTP';
                document.getElementById('registerButton').disabled = false;
                console.error('Error:', errorData.error);
                showToast('Error generating OTP');
                return;
            }
            showToast('OTP sent to your email', 'success');
            document.getElementById('otpField').style.display = 'block';
            document.getElementById('sendOtpBtn').disabled = false;
            document.getElementById('sendOtpBtn').innerHTML = 'Resend OTP';
            document.getElementById('registerButton').disabled = false;
            document.getElementById('registerButton').classList.remove('btn-disabled');

        })

        document.getElementById('registerForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            
            document.getElementById('registerButton').disabled = true; 
            document.getElementById('registerButton').value = 'Registering...';
            const form = event.target;
            const formData = new FormData(form);
            const data = {
                username: formData.get('username'),
                email: formData.get('email'),
                otp: formData.get('otp'),
                password: formData.get('password')
            };

            try {
                const response = await fetch('/user/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (!response.ok) {
                    const errorData = await response.json();                    
                    showToast(errorData.errorMessage);
                } else {
                    showToast("User registered successfully!", "success");
                    setTimeout(() => {
                        window.location.href = '/';
                    }, 200);
                }

            } catch (error) {
                showToast('An unexpected error occurred');
                console.error(error);
                
            }
            document.getElementById('registerButton').value = 'Register';
            document.getElementById('registerButton').disabled = false; 
        });
    </script>
</body>
</html>
