* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.blogCategory {
    font-size: 1.6vw;
    margin: 20px;
    margin-left: 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.blogCategory h3 {
    display: inline-block;
    margin-right: 10px;
}

#categorySelect {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: #1f1f1f;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-size: 1.4vw;
}

#categorySelect:hover {
    background-color: #333333;
}

.sortOptions {
    font-size: 1.6vw;
    margin: 20px;
    margin-left: 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.sortOptions h3 {
    display: inline-block;
    margin-right: 10px;
}

.sortOptions a {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6vw;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sortOptions a:hover{
    background-color: #333333;
    color: #ffffff;
}

.sortOptions a.active {
    background-color: #ffffff;
    color: #000000;
}

.blogs-grid {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
}
