

.blog {
    background-color: #3a3a3a;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}
.blog:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 18px #00000080;
}

.blog img {
    width: 100%;
    object-fit: cover;
}

.blog-insights {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 20px;
    color: #cacaca;
}

.blog-insights h4 {
    padding: 3px 10px;
    display: inline;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #f5ba1a;
    box-shadow: #f5bb1a80 0px 0px 4px 1px inset;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    margin-right: auto;
}

.blog-insights .like, .blog-insights .dislike {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #ffffff;
}

.blog-insights i.liked{
    color: #45db00;
}
.blog-insights i.disliked{
    color: #ff0000;
}

.heading {
    margin: 0 20px 10px 20px;
    color: #ffffff;
    text-align: justify;
    overflow: hidden;
}
.heading h3 {
    font-size: 1.3rem;
    margin-bottom: 7px;
}
.heading div {
    margin-bottom: 10px;
    overflow: hidden;
    li {
        margin-left: 20px;
    }
    *{
        color: #e7e7e7;
    }
}

.writer-detail {
    margin: 10px 20px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
}


.writer {
    gap: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    h4 {
        font-size: 1.3vw;
    }
}

.writer img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #f5ba1a;
}
