.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    background-color: #2c2c2c;
    background: linear-gradient(180deg, rgba(44,44,44,1) 0%, rgba(44,44,44,1) 70%, rgba(44,44,44,0.8) 100%);
    position: fixed;
    z-index: 1000;
}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.hamburger {
    cursor: pointer;
    font-size: 1.5em;
}
.add button {
    cursor: pointer;
    font-size: 1em;
    background-color: #3a3a3a;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 0 20px;
    color: #ffffff;
    box-shadow: none;
}
.add button i {
    color: #f5ba1a;
    margin-right: 5px;
}
.add button:hover {
    border: #f5ba1a 1px solid;
    background: #000;
}

.logo {
    font-family: 'Playwrite BE VLG', cursive;
    font-size: 1.8em;
    text-align: center;
    align-self: center;
    justify-self: center;
    flex-grow: 1;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #3a3a3a;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 20px;
}

.search-bar input {
    border: none;
    background-color: #3a3a3a;
    padding: 5px 10px;
    outline: none;
    width: 200px;
    font-size: 1em;
    color: #ffffff;
}

.search-bar button {
    background: none;
    border: none;
    padding: 5px 10px;
    color: #f5ba1a;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.right img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #f5ba1a;
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 400px;
    transform: translateX(-400px);
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidebar.active {
    transform: translateX(0);
}
.sidebar-content {
    padding: 20px;
    color: #fff;
}

.sidebar-content i {
    cursor: pointer;
    font-size: 1.5em;
}

.sidebar-content h2 {
    margin-bottom: 20px;
}

.sidebar-content ul {
    list-style: none;
    padding: 0;
}

.sidebar-content ul li {
    margin-bottom: 20px;
}

.blog-banner, .author-banner {
    display: flex;
    gap: 10px;
}

.blog-banner img, .author-banner img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.blog-details, .author-details {
    flex-grow: 1;
}

.blog-details h3, .author-details h3 {
    margin: 0;
    font-size: 1.2em;
    color: #f5ba1a;
}

.blog-details p, .author-details p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #ccc;
}

/* Toggle sidebar */
.header-container .hamburger {
    cursor: pointer;
    font-size: 1.5em;
}

.right img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #f5ba1a;
}
