*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    background-color: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin: 130px 100px 30px 100px;
    background-color: #a07500;
    display: grid;
    grid-template-columns: auto 35%;
    border-radius: 60px;
}

#avatar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateY(70px);
}

#avatar img{
    position: relative;
    width: 60%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #1f1f1f;
    border: 5px solid #A07500;
    box-shadow: 0px 0px 0px 15px #1f1f1f;
}
#avatar a{
    padding: 10px;
    background: #1f1f1f;
    border-radius: 50%;
    border: 1px solid #f5ba18;
    position: fixed;
    bottom:  10%;
    right: 22%;
    color: #fff;
    font-size: 1.5vw;
    i{
        transform: translateX(2px);
    }
}

#details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px;
}

.name {
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    a{
        font-size: 25px;
    }
}

.name h1 {
    font-family: serif;
    font-size: 4.5vw;
    margin: 0;
}

.btn {
    padding: 8px 25px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 600;
    transition: all 0.1s ease;
    color: #000;
    i {
        color: #000;
        margin-right: 5px;
    }
}

.followed {
    background-color: #cccccc85;
    border: 2px solid transparent;
    color: #333333;
    i{
        color: inherit;
    }
}

.followed:hover {
    background-color: #cccccc;
    border: 2px solid #fff;
}

.notfollowed {
    padding: 10px 30px;
    background: linear-gradient(135deg, #ffdc7b 25%, #ffffff 100%);
}

.notfollowed:hover {
    background: linear-gradient(135deg, #ffe397 0%, #ffffff 75%);
}

.bio {
    font-size: 1.2vw;
    white-space: pre-line;
    padding: 0 20px;
}

.detail {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.detail h3 {
    font-size: 2vw;
}

.detail span {
    font-size: 3vw;
}

section {
    padding: 20px;
    margin-top: 60px;
    background-color: #1f1f1f;
    color: #fff;
}

section h2 {
    font-size: 2.5vw;
    margin-left: 30px;
}

    
    .userBlogCategory {
        font-size: 1.6vw;
        margin: 20px;
        margin-left: 30px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }
    
    .userBlogCategory h3 {
        display: inline-block;
        margin-right: 10px;
    }
    
    #categorySelect {
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        background-color: #1f1f1f;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 0.1s ease;
        font-size: 1.4vw;
    }
    
    #categorySelect:hover {
        background-color: #333333;
    }
    
    .sortOptions {
        font-size: 1.6vw;
        margin: 20px;
        margin-left: 0;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }
    
    .sortOptions h3 {
        display: inline-block;
        margin-right: 10px;
    }
    
    .sortOptions a {
        margin-right: 10px;
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.6vw;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .sortOptions a:hover{
        background-color: #333333;
        color: #ffffff;
    }
    
    .sortOptions a.active {
        background-color: #ffffff;
        color: #000000;
    }

    
    #userBlogs {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 9px;
    }
