<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" href="/css/header.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/header.js"></script>

    <div class="header-container">
        <div class="left">
            <div class="hamburger" onclick="toggleSidebar()">
                <i class="fa fa-bars"></i>
            </div>
            <div class="add">
                <button onclick="addBlog()"><i class="fa-solid fa-pencil"></i>Add Blog</button>
            </div>
        </div>
        <div class="logo" onclick="location.href='/'">
            Blogit
        </div>
        <div class="right">
            <div class="search-bar">
                <input type="text" id="searchInput" autocomplete="off" placeholder="Search..." onkeypress="if(event.keyCode == 13) searchBlogs()">
                <button type="button" onclick="searchBlogs()"><i class="fa fa-search"></i></button>
            </div>
            <div id="user-profile">
                <div></div>
            </div>
        </div>
    </div>
    <div id="sidebar" class="sidebar">
        <div class="cross">
            <i class="fa fa-x" onclick="toggleSidebar()"></i>
        </div>
        <div class="sidebar-content">
            <ul id="trendingPosts">
                <!-- Trending blogs will be dynamically updated -->
            </ul>
            <ul id="topAuthors">
                <!-- Top authors will be dynamically updated -->
            </ul>
            <div id="followedBlogsSection">
                <!-- Followed user blogs will be dynamically updated -->
            </div>
        </div>
    </div>
    


